@media screen and (max-width: 1400px) {

  .header-container {
    max-width: 1000px;
  }
}


@media screen and (max-width: 900px) {

  .header-container {
    padding: var(--space-2);
  }

  .nav-links {
    gap: 1.25rem;
  }

  .social-links {
    gap: 1.25rem;
  }
}


@media screen and (max-width: 600px) {

  .header-container {
    flex-direction: column;
    align-items: flex-start;
    gap: var(--space-2);
  }

  .nav-links {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
  }

   /* NAME */
   .nav-links .home-link {
    font-size: 2.5rem;
    font-weight: 900;
    width: 100%;
  }

  /* MENU LINKS */
  .nav-links a:not(.home-link) {
    font-size: 1rem;
  }

  .header-container .social-links {
    display: none;
  }
}
